image {
  z-index: 5;
}
.FooterDiv {
  /* footer-div */
  position: absolute;
  width: 100%;
  /* height: 56px; */
  height: 5vh;

  left: 0px;
  /* top: 744px; */
  bottom: 0px;

  /* white */

  background: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 100;
}

.FooterNavBar {
  /* footer-navbar-1 */
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 15%;

  position: absolute;
  width: 100%;
  height: 5vh;
  left: 0px;

  background: #ffffff;
  /* mono200 */

  color: black;

  border-top: 1px solid #d3d3d3;
  border-radius: 0px;
}

.Feed {
  /* post-btn */
  width: 30px;
  height: 30px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  background-image: url("../assets/NavBar/fi-br-comment.png");
  background-size: cover;
}
.Feed2 {
  background-image: url("../assets/NavBar/fi-br-comment-onclick.png");
}

.Global {
  /* global-btn */
  width: 30px;
  height: 30px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

  background-image: url("../assets/NavBar/fi-br-world.png");
  background-size: cover;
}

.Global2 {
  background-image: url("../assets/NavBar/fi-br-world-onclick.png");
}

.Home {
  /* home-btn */
  width: 30px;
  height: 30px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;

  background-image: url("../assets/NavBar/fi-br-home.png");
  background-size: cover;
}
.Home2 {
  background-image: url("../assets/NavBar/fi-br-plus.png");
}
.Garden {
  /* garden-btn */
  width: 30px;
  height: 30px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  background-image: url("../assets/NavBar/fi-br-butterfly.png");
  background-size: cover;
}
.Garden2 {
  background-image: url("../assets/NavBar/fi-br-butterfly-onclick.png");
}

.Profile {
  /* profile-btn */
  width: 30px;
  height: 30px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
  background-image: url("../assets/NavBar/fi-br-portrait.png");
  background-size: cover;
}

.Profile2 {
  background-image: url("../assets/NavBar/fi-br-portrait-onclick.png");
}

.Test{
  /* profile-btn */
  width: 30px;
  height: 30px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
  background-image: url("../assets/GlobalAsset//test-btn.png");
  background-size: cover;
}

.Test2 {
  background-image: url("../assets/GlobalAsset/test-btn-click.png");
}