@import "../styles/commons.scss";

$rrpx:0.8*$rpx1;

.post-item{
  // width: 330px;
  // height: 440px;
  // width: 255px;
  // height: 330px;
  width: 330*$rrpx;
  height: 440*$rrpx;
  margin-bottom: 10px;
  
  /* mono50 */
  background: #FBFBFB;
  border-radius: 12*$rpx1;
  .img-container{
    width: 340*$rrpx;
    height: 300*$rrpx;
    .img-filter{
      width: 340*$rrpx;
      height: 300*$rrpx;
    }
    img{
      display: block;
      box-sizing: border-box;
      border-top-left-radius: 12*$rpx1;
      border-top-right-radius: 12*$rpx1;
      display: block;
      width: 340*$rrpx;
      height: 300*$rrpx;
    }
  }

 .bottom-text-container{
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 24*$rpx1;
  gap: 8*$rpx1;
  width: 340*$rrpx;
  height: 150*$rrpx;
  /* mono50 */
  border-radius: 0px 0px 12*$rpx1 12*$rpx1;
  background-color: black;

 } 
}