@import "../styles/commons.scss";

/* 나중에 컴포넌트로 뺄 아이템 */
.post-item {
  width: 320*$rpx1;
  height: 240*$rpx1;
  box-sizing: border-box;
  border-radius: 10*$rpx1;
  border: 1*$rpx1 solid $mono700; /*색깔 조정 必 */
  margin-bottom: 0.625rem;
  .post-header {
    width: 100%;
    height: 60*$rpx1;
    // border: 1px solid black; /* temp */
    border-bottom: 1px solid $mono700; /*색깔 조정 必 */
    .mood-indicator {
      border-top-left-radius: 10*$rpx1;
      border-top-right-radius: 10*$rpx1;
      width: 100%;
      height: 8*$rpx1;
      background-color: $yellow-p; /* 변수로 치환 */
    }
    .post-head-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .post-info-div {
        width: 60%;
        height: 100%;
        display: flex;
        font-size: 14*$rpx1;
        margin-left: 10*$rpx1;
        .user-img {
          margin-top: 4*$rpx1;
          width: 42*$rpx1;
          height: 42*$rpx1;
          margin-right: 15*$rpx1;
        }
        .post-info {
          margin-top: 5*$rpx1;
          .user-nickname {
            width: max-content;
            height: max-content;
          }
          .post-time-line {
            width: max-content;
            height: max-content;
            display: flex;
            .post-time {
              margin-right: 5*$rpx1;
            }
            .post-status {
              width: 20*$rpx1;
              height: 20*$rpx1;
            }
          }
        }
      }
      .post-btn-div {
        display: flex;
        width: 40%;
        height: 32*$rpx1;
        .book-mark-btn {
          width: 50*$rpx1;
          height: 100%;
          img{
            left: 60*$rpx1;
            width: 18*$rpx1;
            padding-top: 2*$rpx1;
          }
        }
        .post-ops-btn {
          width: 50*$rpx1;
          height: 100%;
          img{
            width: 30*$rpx1;
            left: 35*$rpx1;
          }
        }
        .book-mark-btn > img,
        .post-ops-btn > img {
          position: relative;
          margin-top: 5*$rpx1;
        }
      }
    }
  }
  .post-main {
    width: 100%;
    height: 120*$rpx1;
    display: flex;
    // border-bottom: 1px solid black; /*색깔 조정 必 */
    div {
      width: 220*$rpx1;
      height: 90%;
      margin: 3%;
      font-size: 14*$rpx1;
      resize: none;
      border: none;
      overflow: hidden;
      // border: 1px solid black; /* temp */
    }
    img {
      margin-top: 5*$rpx1;
      width: 100*$rpx1;
      height: 100*$rpx1;
      // border: 1px solid black; /*temp*/
    }
  }
  .post-footer {
    width: 100%;
    height: 60*$rpx1;
    // border: 1px solid black; /* temp */
    display: flex;
    justify-content: space-between;
    font-size: 14*$rpx1;
    .tag-container {
      width: 70%;
      height: 100%;
      display: flex;
      margin-top: 15*$rpx1;
      .tag {
        width: max-content;
        height: 30*$rpx1;;
        line-height: 30*$rpx1;
        padding-left: 10*$rpx1;
        padding-right: 10*$rpx1;
        margin-left: 5*$rpx1;
        margin-right: 5*$rpx1;
        text-align: center;
        border-radius: 15*$rpx1;
        background-color: $mono200; /*나중에 변수로 치환..*/
        color: $white; /* 나중에 변수로 치환 */
      }
    }
    .comment-container {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      .mood-div,
      .comment-div {
        // border: 1px solid black; /* temp */
        display: flex;
        * {
          display: block;
        }
        margin-left: 10*$rpx1;
        img {
          width: 20*$rpx1;
          height: 20*$rpx1;
          margin-top: 20*$rpx1;
        }
        p {
          line-height: 60*$rpx1;
          font-size: 16*$rpx1;
          margin-left: 5*$rpx1;
        }
      }
    }
  }
}