.searchcontainer {
  /* display: flex; */
  justify-content: flex-end;
  /* top : 15px; */
  /* position: inherit; */
}

.tablecontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid red;
}
.tablegap {
  margin: 8px;
}
.pkTitle {
  text-align: center;
  width: 8px;
}
.pk {
  text-align: center;
  width: 8px;
}

.reporterTitle {
  text-align: center;
  width: 64px;
}
.reporter {
  text-align: center;
  width: 64px;
}
.defendant {
  text-align: center;
  width: 72px;
}
.detailTitle {
  width: 80px;
  text-overflow: clip;
  max-height: 80px;
  overflow-x: scroll;
  text-align: center;
}
.detail {
  width: 180px;
  text-overflow: clip;
  max-height: 80px;
  overflow-x: scroll;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 4px;
}
.resultTitle {
  text-align: right;
  width: 88px;
}
.result {
  text-align: center;
  width: 64px;
}
.reportTime {
  width: 72px;
  text-align: center;
}
.resultTime {
  width: 72px;
  text-align: center;
}
.confirmTitle {
  text-align: center;
}
.confirmDiv {
  justify-content: center;
  /* border: 1px solid red; */
}
.confirm {
  text-align: center;
  padding: 8px;
}



.footer{
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
  height: 20px;
  top:0px;
  position: absolute;
}