@import "../../../../styles/commons.scss";

.alarm-page {
  width: 100vw;
  min-height: 100vh;
  height: max-content;
  position: relative;
  padding-bottom: 30 * $rpx1;

  .alarm-header {
    width: 100%;
    height: 50 * $rpx1;
    display: flex;
    box-shadow: 0 2 * $rpx1 2 * $rpx1 $mono100;
    padding-left: 16 * $rpx1;
    padding-right: 16 * $rpx1;
    .back-profile-btn {
      width: 50 * $rpx1;
      height: 50 * $rpx1;
      img {
        display: block;
        width: 24 * $rpx1;
        height: 24 * $rpx1;
        margin: 0 auto;
        margin-top: 13 * $rpx1;
      }
    }
    .page-title {
      padding-left: 10 * $rpx1;
      line-height: 50 * $rpx1;
    }
  }

  .alarm-main {
    width: 100%;
    height: max-content;
    margin-top: 30 * $rpx1;
    padding-left: 16 * $rpx1;
    padding-right: 16 * $rpx1;

    .alarm-ops-item {
      width: 100%;
      height: 50 * $rpx1;
      margin: 8 * $rpx1 auto;
      display: flex;
      position: relative;
      justify-content: space-between;
      div:first-child {
      }
      div {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      div > p {
        line-height: 50 * $rpx1;
      }
    }
    .title {
      border-bottom: 1 * $rpx1 solid $mono400;
      height: 20%;
    }
  }

  // 컴플레인 접수폼
  .complaint-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 8px;
    .complaint-title {
      width: 100%;
      // border: 1px solid black;
      font-size: 20px;
    }
    .complaint-guide-text {
      width: 100%;
      font-size: 13px;
    }
    .complaint-guide-text {
    }

    .input-complaint {
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      // height: 30vh;
      .input-complaint-input {
        padding: 8px;
        width: 100%;
        min-height: 200px;
        height: max-content;
        border: 1px solid $mono300;
        border-radius: 8px;
        resize: none;
        color: $mono600;
      }
    }
    .input-complaint-btn {
      border-radius: 8px;
      height: 30px;
      border: 1px solid $mono300;
      transition: 0.15s;
    }
    .input-complaint-btn:active {
      background-color: $mono400;
      transition: 0.15s;
    }
  }

  .logout-container {
    display: flex;
    justify-content: space-between;
    padding-left: 16 * $rpx1;
    padding-right: 16 * $rpx1;
    width: 100%;
    height: 50 * $rpx1;
    margin-top: 50 * $rpx1;
    box-sizing: border-box;
    div {
      width: 40%;
      height: 100%;
      text-align: center;
      // border: 1px solid black;
      line-height: 50 * $rpx1;
      background-color: $mono50;
      border-radius: 10 * $rpx1;
      border: 1 * $rpx1 solid $mono100;
    }
  }
}
