@import "../../styles/commons.scss";

.post-item {
  /* Auto layout */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0px;
  // width: 272px;
  width: 100%;
  height: max-content;
  // max-height: 352px;
  background: $mono50;
  overflow: hidden;
  // border-radius: 12px;
  border: 1px solid $mono300;
  margin-top: 16 * $rpx1;
}

/* 스크롤바 숨기는 속성 */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
