@import "../../styles/commons.scss";

.bottom-nav-container {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 80px;
  position: relative;
  .toast-message-div {
    z-index: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2 * $rpx1 16 * $rpx1;
    width: 100%;
    height: 24 * $rpx1;
    transition: 1s;
    /* black */
    background: $black;
    font-size: 12 * $rpx1;
    color: $white;
    .toast-message {
      width: max-content;
      height: 18 * $rpx1;
      line-height: 18 * $rpx1;
    }
    .check-btn {
      width: max-content;
      height: 18 * $rpx1;
      line-height: 18 * $rpx1;
    }
  }

  .bottom-nav-bar {
    z-index: 1;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12 * $rpx1 16 * $rpx1;
    gap: 24 * $rpx1;
    position: relative;
    width: 100vw;
    height: 80 * $rpx1;
    background: $white;

    .bottom-nav-item {
      width: 48 * $rpx1;
      height: 48 * $rpx1;
      /* Inside auto layout */
      img {
        display: block;
        width: 24 * $rpx1;
        margin: 12 * $rpx1 auto;
        height: fit-content;
        align-items: center;
      }
    }
  }
}

.toast-up {
  transition: 1s;
  transform: translateY(-24px); // 좌표이동
}
