
@import "../../styles/commons.scss";


.alarm-container{
    width: 100vw;
    min-height: 91.3vh;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    background-color: $mono50;
    align-items: center;
}