@charset "UTF-8";
/* rem unit */
/* red-tokens */
/* sky-blue-tokens */
/* blue-tokens */
/* gray-blue-tokens */
/* green-tokens */
/* apricot-tokens */
/* yellow-tokens */
/* mono-tokens */
/* black & white tokens */
/* general css 속성 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profiile-edit-page-conatiner {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
  width: 360px;
  height: 676px;
}
.profiile-edit-page-conatiner .profile-photo-edit-container {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  width: 328px;
  height: 134px;
}
.profiile-edit-page-conatiner .profile-photo-edit-container .user-img {
  width: 80px;
  height: 80px;
  border: 0.0625rem solid #d3d3d3;
  border-radius: 40px;
  background-position: center;
  background-size: cover;
}
.profiile-edit-page-conatiner .profile-photo-edit-container .profile-photo-edit-btn {
  width: 141px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profiile-edit-page-conatiner .profile-photo-edit-container .profile-photo-edit-btn label {
  font-size: 16px;
  text-align: center;
  color: #96c6e0;
  font-weight: 600;
}
.profiile-edit-page-conatiner .profile-edit-container {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 328px;
  height: 602px;
}
.profiile-edit-page-conatiner .profile-edit-container .profile-edit-item {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 12px 0px;
  gap: 8px;
  width: 328px;
  height: 80px;
  background: #ffffff;
}
.profiile-edit-page-conatiner .profile-edit-container .profile-edit-item .nickname-input-lab,
.profiile-edit-page-conatiner .profile-edit-container .profile-edit-item .introduce-input-lab {
  /* name-input-lab */
  width: 328px;
  height: 18px;
  font-size: 14px;
}
.profiile-edit-page-conatiner .profile-edit-container .profile-edit-item .nickname-input,
.profiile-edit-page-conatiner .profile-edit-container .profile-edit-item .introduce-input {
  box-sizing: border-box;
  width: 328px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #141414;
}
.profiile-edit-page-conatiner .profile-edit-container .password-modify-item {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 12px 0px;
  gap: 8px;
  width: 328px;
  height: 80px;
  background: #ffffff;
}
.profiile-edit-page-conatiner .profile-edit-container .password-modify-item a {
  text-decoration: none;
}
.profiile-edit-page-conatiner .profile-edit-container .password-modify-item a .password-modify-btn {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 40%;
  height: 40px;
}
.profiile-edit-page-conatiner .profile-edit-container .password-modify-item a .password-modify-btn p {
  color: #96c6e0;
  font-weight: 600;
}

/*# sourceMappingURL=ProfileModifyPage.css.map */
