.feedRoot {
  /* feed-page */
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* align-items: center; */
  padding: 20 20 20 0px;
  gap: 8px;

  position: relative;
  width: 100%;
  height: 95vh;

  /* white2 */

  background: #fbfbfb;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.topBar {
  /* top-bar */
  box-sizing: border-box;

  width: 100%;
  height: 5vh;

  /* black */

  border-bottom: 1px solid #151515;

  /* Inside auto layout */
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.currentPageText {
  /* 피드 */

  position: relative;
  width: 15%;
  height: 100vh;
  left: 10%;
  top: 1vh;

  font-family: "Kalam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  display: inline;
  color: #000000;
}
.notificationIcon {
  /* notificationIcon */

  position: absolute;
  width: 8%;
  height: 3vh;
  background: url("..//../assets/FeedAsset/notification.png");
  background-size: cover;
  /* display: inline; */
  z-index: 5;
}
.friendListBar {
  /* freiend-list-bar */

  /* Auto layout */
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  /* justify-content: center; */
  /* align-items: space-around; */
  padding: 0px 8px;
  gap: 8px;

  width: 100%;
  height: 7vh;

  background: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.friendThumbnail {
  /* profile-img-one */
  position: relative;
  box-sizing: border-box;

  width: 14%;
  border-radius: 10px;
  background: url(../../assets//FeedAsset/profileSample.png);
  background-size: cover;
  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.main {
  /* feed-main */
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  /* padding: 8px; */
  /* Inside auto layout */
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: center;
  flex: none;
  order: 3;
  flex-grow: 0;
  z-index: 3;
}

.s {
  width: 95%;
  margin: auto;
  margin-bottom: 3%;
  height: 20vh;
  
  border: 1px solid red;
}
