@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 프로필 페이지의 헤더를 맡을 컴포넌트 */
  /* 향후 General Header로 대체될 예정 */
  /* 사용자 사진, 닉네임, 감정상태(mood)를 표시하는 헤더 */
  /* 사용자의 팔로워수, 팔로잉, 게시글에 대한 정보를 확인할 info box */
  /* 사용자의 주간, 월간의 감정 변화 추이를 확인 가능한 통계 그래프 */
  /* 사용자 게시글 / 북마크 글을 전환하는 nav 컴포넌트 */
  /* 사용자의 게시글 / 북마크를 담을 Routes 태그 속성 */
}
.profile-page div {
  width: 320px;
}
.profile-page .profile-page-header {
  margin-top: 0;
  margin-bottom: 4px;
  height: 56px;
  display: flex;
}
.profile-page .profile-page-header div {
  height: 100%;
}
.profile-page .profile-page-header .title-bar {
  width: 80%;
}
.profile-page .profile-page-header .title-bar p {
  padding-left: 10px;
  line-height: 56px;
}
.profile-page .profile-page-header .btn-div {
  width: 20%;
  align-items: center;
}
.profile-page .profile-page-header .btn-div img {
  display: block;
  margin: 0 auto;
  margin-top: 16px;
  width: 24px;
  height: 24px;
}
.profile-page .user-info-header {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  height: 70px;
}
.profile-page .user-info-header div {
  height: 100%;
}
.profile-page .user-info-header .left {
  width: 100px;
}
.profile-page .user-info-header .left img {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  margin-top: 3px;
}
.profile-page .user-info-header .center {
  width: 120px;
}
.profile-page .user-info-header .center .user-nickname {
  display: block;
  line-height: 50px; /* 상대 단위로 바꿔야함.. */
}
.profile-page .user-info-header .right {
  width: 100px;
}
.profile-page .user-info-header .right img {
  display: block;
  width: 56px;
  height: 56px;
  margin: 0 auto;
  margin-top: 7px;
}
.profile-page .user-social-info-box {
  margin-top: 4px;
  margin-bottom: 4px;
  height: 82px;
  background: #fbfbfb; /* 추후 변수로 scss 변수로 대체 예정 */
  border-radius: 10px;
}
.profile-page .user-social-info-box ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  height: 50%;
}
.profile-page .user-social-info-box ul li {
  width: 25%;
  text-align: center;
  line-height: 41px;
}
.profile-page .feed-graph-div {
  margin-top: 4px;
  margin-bottom: 4px;
  height: 84px;
}
.profile-page .feed-graph-div .feed-graph-guide-div {
  width: 100%;
  height: 14px;
  display: flex;
  justify-content: center;
}
.profile-page .feed-graph-div .feed-graph-guide-div * {
  margin-left: 5px;
  margin-right: 5px;
}
.profile-page .feed-graph-div .feed-graph-guide-div p {
  font-size: 10px; /* 타이포 그래피에 따라 값 변수로 치환 */
}
.profile-page .feed-graph-div .feed-graph-guide-div .fi-br-interrogation {
  width: 12px;
  height: 12px;
}
.profile-page .feed-graph-div .user-graph-container {
  /* 그래프 속성들 */
  /* 그래프 가이드 텍스트 속성들 */
}
.profile-page .feed-graph-div .user-graph-container .weekend-graph-div,
.profile-page .feed-graph-div .user-graph-container .month-graph-div,
.profile-page .feed-graph-div .user-graph-container .user-week-text,
.profile-page .feed-graph-div .user-graph-container .user-month-text {
  width: 100%;
  height: 17.5px;
}
.profile-page .feed-graph-div .user-graph-container .weekend-graph-div,
.profile-page .feed-graph-div .user-graph-container .month-graph-div {
  display: flex;
  justify-content: center;
}
.profile-page .feed-graph-div .user-graph-container .weekend-graph-div > div,
.profile-page .feed-graph-div .user-graph-container .month-graph-div > div {
  width: 30%;
  height: 100%;
}
.profile-page .feed-graph-div .user-graph-container .weekend-graph-div > .sunny,
.profile-page .feed-graph-div .user-graph-container .month-graph-div > .sunny {
  background-color: #ffe143; /* 변수로 치환 예정 */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.profile-page .feed-graph-div .user-graph-container .weekend-graph-div > .cloudy,
.profile-page .feed-graph-div .user-graph-container .month-graph-div > .cloudy {
  background-color: #aaa9a9; /* 변수로 치환 예정 */
}
.profile-page .feed-graph-div .user-graph-container .weekend-graph-div > .rainy,
.profile-page .feed-graph-div .user-graph-container .month-graph-div > .rainy {
  background-color: #76cff4; /* 변수로 치환 예정 */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.profile-page .feed-graph-div .user-graph-container .user-week-text,
.profile-page .feed-graph-div .user-graph-container .user-month-text {
  font-size: 8px; /* 타이포그래피로 대체 예정 */
}
.profile-page .feed-graph-div .user-graph-container .user-week-text p,
.profile-page .feed-graph-div .user-graph-container .user-month-text p {
  text-align: right;
  padding-right: 10px;
}
.profile-page .profile-tab-menu {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 240px;
  height: 50px;
}
.profile-page .profile-tab-menu .tab-menus {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.profile-page .profile-tab-menu .tab-menus li {
  width: 45%;
  height: 60%;
  text-align: center;
}
.profile-page .profile-tab-menu .tab-menus li:first-child {
  color: #0d587c; /* 변수로 치환 예정 */
  border-bottom: 1px solid #0d587c; /* 변수로 치환 예정 */
}
.profile-page .feed-container {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 320px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* 나중에 컴포넌트로 뺄 아이템 */
}
.profile-page .feed-container .post-item {
  width: 320px;
  height: 180px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid black; /*색깔 조정 必 */
}
.profile-page .feed-container .post-item .post-header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid black; /*색깔 조정 必 */
}
.profile-page .feed-container .post-item .post-header .mood-indicator {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 8px;
  background-color: #ffe143; /* 변수로 치환 */
}
.profile-page .feed-container .post-item .post-header .post-head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.profile-page .feed-container .post-item .post-header .post-head-container .post-info-div {
  width: 60%;
  height: 100%;
  display: flex;
  font-size: 8px;
  margin-left: 10px;
}
.profile-page .feed-container .post-item .post-header .post-head-container .post-info-div .user-img {
  width: 28px;
  height: 28px;
}
.profile-page .feed-container .post-item .post-header .post-head-container .post-info-div .post-info .user-nickname {
  width: max-content;
  height: max-content;
}
.profile-page .feed-container .post-item .post-header .post-head-container .post-info-div .post-info .post-time-line {
  width: max-content;
  height: max-content;
  display: flex;
}
.profile-page .feed-container .post-item .post-header .post-head-container .post-info-div .post-info .post-time-line .post-time {
  margin-right: 5px;
}
.profile-page .feed-container .post-item .post-header .post-head-container .post-info-div .post-info .post-time-line .post-status {
  width: 12px;
  height: 12px;
}
.profile-page .feed-container .post-item .post-header .post-head-container .post-btn-div {
  display: flex;
  width: 40%;
  height: 32px;
}
.profile-page .feed-container .post-item .post-header .post-head-container .post-btn-div .book-mark-btn {
  position: absolute;
  right: 25px;
  width: 50px;
  height: 100%;
}
.profile-page .feed-container .post-item .post-header .post-head-container .post-btn-div .post-ops-btn {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 100%;
}
.profile-page .feed-container .post-item .post-header .post-head-container .post-btn-div .book-mark-btn > img,
.profile-page .feed-container .post-item .post-header .post-head-container .post-btn-div .post-ops-btn > img {
  width: max-content;
  height: max-content;
}
.profile-page .feed-container .post-item .post-main {
  width: 100%;
  height: 110px;
  display: flex;
  border-bottom: 1px solid black; /*색깔 조정 必 */
}
.profile-page .feed-container .post-item .post-main textarea {
  display: block;
  width: 220px;
  height: 100%;
  padding: 5px;
  resize: none;
  border: none;
  overflow: hidden;
}
.profile-page .feed-container .post-item .post-main img {
  margin-top: 5px;
  width: 100px;
  height: 100px;
}
.profile-page .feed-container .post-item .post-footer {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 8px;
}
.profile-page .feed-container .post-item .post-footer .tag-container {
  width: 70%;
  height: 100%;
  display: flex;
}
.profile-page .feed-container .post-item .post-footer .tag-container .tag {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  width: max-content;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  line-height: 24px;
  height: 24px;
  border-radius: 6px;
  background-color: #d3d3d3; /*나중에 변수로 치환..*/
  color: #fbfbfb; /* 나중에 변수로 치환 */
}
.profile-page .feed-container .post-item .post-footer .comment-container {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.profile-page .feed-container .post-item .post-footer .comment-container .mood-div,
.profile-page .feed-container .post-item .post-footer .comment-container .comment-div {
  display: flex;
}
.profile-page .feed-container .post-item .post-footer .comment-container .mood-div *,
.profile-page .feed-container .post-item .post-footer .comment-container .comment-div * {
  display: block;
}
.profile-page .feed-container .post-item .post-footer .comment-container .mood-div img,
.profile-page .feed-container .post-item .post-footer .comment-container .comment-div img {
  width: 14px;
  height: 14px;
  margin-top: 8px;
}
.profile-page .feed-container .post-item .post-footer .comment-container .mood-div p,
.profile-page .feed-container .post-item .post-footer .comment-container .comment-div p {
  line-height: 30px;
  font-size: 12px;
  margin-left: 5px;
}

/*# sourceMappingURL=ProfilePage.css.map */
