@import "../../styles/commons.scss";

.alarm-page {
  width: 100vw;
  height: 100vh;
  background-color: beige;

  .alarm-header {
    width: 100%;
    height: 50 * $rpx1;
    background-color: yellow;
    display: flex;
    .back-profile-btn {
      width: 50 * $rpx1;
      height: 50 * $rpx1;
      border: 1px solid black;
      img {
        display: block;
        width: 24 * $rpx1;
        height: 24 * $rpx1;
        margin: 0 auto;
        margin-top: 13 * $rpx1;
      }
    }
  }
}
