@import "../../../../styles/commons.scss";


.other-profile-page {
  /* Auto layout */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0px 16 * $rpx1;
  gap: 8 * $rpx1;
  width: 100vw;
  height: 656 * $rpx1;
  overflow: hidden;
  overflow-y: scroll;
  .user-info-header {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 100%;
    height: 124px;
    .user-img { 
      width: 80px;
      height: 80px;
      border: 1 * $rpx1 solid $mono200;
      border-radius: 40px;
      background-position: center;
      background-size: cover;
    }
  }
  .user-introduce-container {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 100%;
    height: 36px;
    background-color: $white-pure;
    gap: 8px;
    .user-introduce-text {
      /* Auto layout */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px 8px;
      width: 191px;
      height: 30px;
      p {
        width: 175px;
        height: 19px;
        font-size: 16px;
        color: #817c7c;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .following-btn,
    .followed-btn {
      /* Auto layout */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px 4px;
      width: 64px;
      height: 32px;
      border-radius: 18px;
      p {
        font-size: 14px;
        /* white2 */
        color: #fbfbfb;
      }
    }
    .following-btn {
      /* skyblue300 */
      background: #96c8e0;
    }
    .followed-btn {
      /* 뭔색하지 */
      background: $mono300;
    }
    .show-report{
      width: 30px;
      height: 30px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      // margin-left: 10px;
    }
  }
  .user-social-info-box {
    // width: 328 * $rpx1;
    width: 100%;
    height: 80 * $rpx1;
    background: $white;
    border-radius: 10 * $rpx1;
    display: flex;
    flex-flow: column wrap;
    .social-info-title {
      width: 100%;
      height: 50%;
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
    }
    .social-info-count {
      width: 100%;
      height: 50%;
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  .post-container {
    /* Auto layout */
    display: flex;
    flex-flow: column wrap;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
    padding: 8 * $rpx1 0px;
    gap: 8 * $rpx1;
    // width: 328 * $rpx1;
    width: 100%;
    height: 656 * $rpx1;
    .post-item {
      margin: 0 auto;
    }
  }
}

/* 스크롤바 숨기는 속성 */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
