.landingRoot {
 /* landing-page-blue */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: relative;
width: auto;
height: 100%;

/* navy300 */

background: #98E1FF;
}
