.bigframe{
    background-color: white;
    width: 100%;
    height: 100vh;
}

.registerorderdiv{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
}
.registerorderelement{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mainframe {
    /* display: flex; */
    /* justify-content: center; */
    width: 70%;
    margin: 5vh auto 0 auto;
}

.termTextBox {
    height: 10vh;
    font-size: 12px;
    width: 100%;
}

.textredcolor {
    color: red;
}

.nextBtn {
    width: 100%;
    background-color: #3BACE2;
    color: white;
    margin: 1vh 0 0 0;
    padding: 0;
    height: 5vh;
    border: 0px;
}

.blueCircle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    background-color: #3BACE2;
    color: white;
}

.whiteCircle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    background-color: white;
    border: #3BACE2 0.5px solid;
}