.HomePageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  gap: 8px;
  isolation: isolate;
  position: relative;
  background-image: url("../assets/HomeAsset/day.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.FlowerInfo {
  /* flower-info-div */


  box-sizing: border-box;

  width: 50%;
  height: 10vh;

  position: fixed;
  bottom: 90px;

  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  z-index: 20;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FlowerName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.FlowerNameText {
  margin-right: 10px;
}

.FlowerItem {
  /* flower-item-div */
  position: absolute;
  width: 168px;
  height: 70px;
  bottom: 190px;
  z-index: 20;
}

.Flowerpot {
    /* flowerpot-div */

    position: fixed;
    bottom: -5px;
}

.SunDiv {
    /* sun-div */


    box-sizing: border-box;

    position: absolute;
    width: 70px;
    height: 70px;
    left: 98px;
    top: 0px;

    display: flex;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.SunDiv:hover {
    background:#ffec44de;
    border: 1px solid #f0dd33de;
}


.RainDiv {
  /* rain-div */


  box-sizing: border-box;

  position: absolute;
  width: 70px;
  height: 70px;
  left: 0px;
  top: 0px;

  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}

.RainDiv:hover {
  background:#458fffb3;
  border: 1px solid #3a78d4b3;
}

.SunRainText {
  /* rain-count-text */
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  display: block;
  position: relative;
  top: 45px;
  color: #373737;

}

.SunRainImg {
  /* rain-img */

  position: absolute;
  left: 21.43%;
  right: 21.43%;
  top: 7.14%;
  bottom: 35.71%;

}

.guidecontainer{
  position: relative;
  display: flex;
  justify-content: center;
  top: 160px;
  width: 100%;
  margin: 0 auto;
}

.goorm{
  width: 104px;
  height: 72px;
  margin-left: 4px;
}

.guidetext{
  background-color: white;
  border-radius: 16px;
  padding: 8px 2px 8px 8px;
  word-break:keep-all;
}

.blinking {
  position: absolute;
  top: -44px;
  padding: 16px;
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -moz-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.gohomeblink {
  /* position: absolute; */
  top: -44px;
  padding: 16px;
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -moz-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}

.background{
  z-index: 1;
}

.redborder{
  position: absolute;
  border: red 3px solid;
  z-index: 2;
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -moz-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}

.xIcon{
  position: absolute;
  top: 104px;
  right: 40px;
}

.homeborder{
  position: absolute;
  width: 48px;
  height: 48px;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;
  border: 3px solid red;
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -moz-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}

.gardenborder{
  position: absolute;
  width: 48px;
  height: 48px;
  top: 46%;
  left: calc(50% + 72px);
  transform: translate(-50%, -50%);
  z-index: 21;
  border: 3px solid red;
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -moz-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}

.globalborder{
  position: absolute;
  width: 48px;
  height: 48px;
  top: 46%;
  left: calc(50% - 72px);
  transform: translate(-50%, -50%);
  z-index: 21;
  border: 3px solid red;
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -moz-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}

.feedborder{
  position: absolute;
  width: 48px;
  height: 48px;
  top: 46%;
  left: calc(50% - 144px);
  transform: translate(-50%, -50%);
  z-index: 21;
  border: 3px solid red;
  -webkit-animation: blink 1s ease-in-out infinite alternate;
  -moz-animation: blink 1s ease-in-out infinite alternate;
  animation: blink 1s ease-in-out infinite alternate;
}