.HomePageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  gap: 8px;
  /* isolation: isolate; */
  /* position: relative; */
  /* background-image: url("../assets/HomeAsset/day.png"); */
  /* width: 100%; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* overflow: hidden; */
}

.FlowerInfo {
  /* flower-info-div */


  box-sizing: border-box;

  width: 50%;
  height: 10vh;

  position: fixed;
  bottom: 90px;

  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  z-index: 20;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FlowerName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.FlowerNameText {
  margin-right: 10px;
}

.FlowerItem {
  /* flower-item-div */
  position: absolute;
  width: 168px;
  height: 70px;
  bottom: 190px;
  z-index: 20;
}

.Flowerpot {
    /* flowerpot-div */

    position: fixed;
    bottom: -5px;
}

.SunDiv {
    /* sun-div */


    box-sizing: border-box;

    position: absolute;
    width: 70px;
    height: 70px;
    left: 98px;
    top: 0px;

    display: flex;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.SunDiv:hover {
    background:#ffec44de;
    border: 1px solid #f0dd33de;
}


.RainDiv {
  /* rain-div */


  box-sizing: border-box;

  position: absolute;
  width: 70px;
  height: 70px;
  left: 0px;
  top: 0px;

  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}

.RainDiv:hover {
  background:#458fffb3;
  border: 1px solid #3a78d4b3;
}

.SunRainText {
  /* rain-count-text */
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  display: block;
  position: relative;
  top: 45px;
  color: #373737;

}

.SunRainImg {
  /* rain-img */

  position: absolute;
  left: 21.43%;
  right: 21.43%;
  top: 7.14%;
  bottom: 35.71%;

}