
.bigframe {
    /* display: flex;
    width: 100%;
    height: 100vh; */
    /* background-color: #98e1ff; */
}

.loginframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    isolation: isolate;
    position: relative;
    width: 100%;
}

.logindiv {
    width: 80%;
}

.fullsize {
    width: 100%;
    display: flex;
    position: relative;
}

.inputdiv {
    width: 100%;
    font-size: 14px;
    padding: 0px;
    height: 5vh;
    border: 0px;
    border-bottom: 1px solid black;
}
.inputdiv:focus {
    outline: none;
    border-bottom: 1.5px solid black;
}
.icon{
    top: 12px;
    right: 4px;
    bottom: 2px;
    margin: 0;
    padding: 0;
    /* background-color: transparent; */
    border: 0;
    font-size: 1px;
    /* color: transparent; */
    position: absolute;
  }

.emaillabel {
    display: flex;
    margin: 0 0 4px 0;
    font-size: 16px;
}

.loginbtndiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.loginbtn {
    width: 100%;
    height: 5vh;
    padding: 0;
    font-size: 16px;
    margin: 2vh 0 3vh 0;
    background: #3BACE2;
    border-radius: 30px;
    border: none;
}

.linkdiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.linktext {
    margin: 0 0 0 8px;
    font-size: 14px;
    text-decoration: underline;
    text-decoration: none;
    color: black;
}


.socialbtn {
    width: 80%;
}

.kakaobtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDDC3F;
    border-radius: 30px;
    border: none;
    margin: 0 0 8px 0;
}

.naverbtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00C73C;
    border-radius: 30px;
    border: none;
}

.socialline {
    color: black;
    text-align: center;
    font-size: 18px;
    max-width: 600px;
    width: 100%;
    position: relative;
  }
  .socialline:before {
    content: "";
    display: block;
    width: 32%;
    height: 1px;
    background: black;
    left: 0;
    top: 50%;
    position: absolute;
  }
  .socialline:after {
    content: "";
    display: block;
    width: 32%;
    height: 1px;
    background: black;
    right: 0;
    top: 50%;
    position: absolute;
  }

  ::placeholder {
    opacity: 60%;
  }

  .loginmsg{
    margin-top: 4px;
    font-size: 12px;
    color: red;
  }