@charset "UTF-8";
/* rem unit */
/* red-tokens */
/* sky-blue-tokens */
/* blue-tokens */
/* gray-blue-tokens */
/* green-tokens */
/* apricot-tokens */
/* yellow-tokens */
/* mono-tokens */
/* black & white tokens */
/* general css 속성 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 스크롤바 숨기는 속성 */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.post-write-container {
  /* Auto layout */
  display: flex;
  flex-flow: row wrap;
  padding: 0px 1rem;
  gap: 0.5rem;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
}
.post-write-container .post-write-form {
  z-index: 1;
  /* Auto layout */
  display: flex;
  flex-flow: column wrap;
  padding: 0.75rem 1rem;
  width: 100%;
  height: 65%;
  /* mono50 */
  background: #fcfcfc;
  border-radius: 0.75rem;
}
.post-write-container .post-write-form .post-write-input-div {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  order: 0;
  flex-grow: 4;
}
.post-write-container .post-write-form .post-write-input-div .post-content-input {
  border: none;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 5;
  /* mono200 */
  border-bottom: 0.0625rem solid #d3d3d3;
  border-color: none;
  padding: 1rem;
  background: none;
  outline: none;
  resize: none;
}
.post-write-container .post-write-form .post-write-input-div .post-tag-input-div {
  width: 100%;
  flex-grow: 0.5;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 4px;
}
.post-write-container .post-write-form .post-write-input-div .post-tag-input-div .post-tag-input {
  width: max-content;
  height: max-content;
}
.post-write-container .post-write-form .post-write-input-div .post-tag-input-div .tag-span {
  background-color: #d3d3d3;
  color: #ffffff;
  padding: 4px 8px 4px 8px;
  border-radius: 16px;
}
.post-write-container .post-write-form .post-write-input-div input:active,
.post-write-container .post-write-form .post-write-input-div input:focus {
  border: none;
  outline: none;
}
.post-write-container .post-write-form .post-write-input-div input {
  background-color: none;
  background: none;
  outline: none;
  border: none;
  padding: 0.625rem;
}
.post-write-container .post-write-form .post-option-container {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
  width: 100%;
  flex-grow: 0.5;
  order: 1;
  justify-content: space-between;
}
.post-write-container .post-write-form .post-option-container label .photo-add-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-write-container .post-write-form .post-option-container label .photo-add-btn img {
  width: 1.5rem;
  height: 1.5rem;
}
.post-write-container .post-write-form .post-option-container label .photo-add-btn input {
  display: none;
}
.post-write-container .post-write-form .post-option-container .img-preview-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  align-items: center;
  justify-content: left;
  gap: 8px;
}
.post-write-container .post-write-form .post-option-container .img-preview-container .img-holder {
  width: max-content;
  height: max-content;
  position: relative;
}
.post-write-container .post-write-form .post-option-container .img-preview-container .img-holder .img-preview {
  flex-shrink: 0;
  width: 3.75rem;
  height: 3.75rem;
  background-size: contain;
  background-position: center;
  border: 1px solid #bfbfbf;
}
.post-write-container .post-write-form .post-option-container .img-preview-container .img-holder .close-btn {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 15px;
}

/*# sourceMappingURL=WritePostPage.css.map */
