@import "../../styles//commons.scss";

.post-write-form {
  z-index: 999;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12 * $rpx1 16 * $rpx1;
  width: 330 * $rpx1;
  height: 440 * $rpx1;
  /* mono50 */
  background: $mono50;
  border-radius: 12 * $rpx1;
  // margin: 32*$rpx1 auto;
  .post-write-input-div {
    display: block;
    width: 298 * $rpx1;
    height: 340 * $rpx1;
    order: 0;
    .post-content-input {
      border: none;
      box-sizing: border-box;
      width: 298 * $rpx1;
      height: 290 * $rpx1;
      /* mono200 */
      border-bottom: 1 * $rpx1 solid $mono200;
      border-color: none;
      outline: none;
      padding: 16 * $rpx1;
      background: none;
      outline: none;
      resize: none;
    }
    .post-tag-input {
      width: 298 * $rpx1;
      height: 50 * $rpx1;
    }
    input:active,
    input:focus {
      border: none;
      outline: none;
    }
    input {
      background-color: none;
      background: none;
      outline: none;
      border: none;
      padding: 10 * $rpx1;
    }
  }
  .post-option-container {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12 * $rpx1 16 * $rpx1;
    gap: 8 * $rpx1;
    width: 298 * $rpx1;
    height: 72 * $rpx1;
    order: 1;
    justify-content: space-between;
    label {
      .photo-add-btn {
        width: 48 * $rpx1;
        height: 48 * $rpx1;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 24 * $rpx1;
          height: 24 * $rpx1;
        }
        input {
          display: none;
        }
      }
    }

    .toggle-btn-container {
      width: 200 * $rpx1;
      height: 48 * $rpx1;
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 8 * $rpx1;
      .toggle-text {
        width: 60 * $rpx1;
        height: 20 * $rpx1;
      }
    }
  }
}
