@import "../../../styles/commons.scss";

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* 프로필 페이지의 헤더를 맡을 컴포넌트 */
  /* 향후 General Header로 대체될 예정 */
  .profile-page-header {
    margin-top: 0;
    margin-bottom: 4 * $rpx1;
    height: 56 * $rpx1;
    display: flex;
    .title-bar {
      flex-grow: 4;
      p {
        padding-left: 10 * $rpx1;
        line-height: 56 * $rpx1;
      }
    }
    .btn-div {
      flex-grow: 1;
      align-items: center;
      img {
        display: block;
        margin: 0 auto;
        margin-top: 16 * $rpx1;
        width: 24 * $rpx1;
        height: 24 * $rpx1;
      }
    }
  }

  /* 사용자 사진, 닉네임, 감정상태(mood)를 표시하는 헤더 */
  .user-info-header {
    margin-top: 4 * $rpx1;
    margin-bottom: 4 * $rpx1;
    display: flex;
    height: 70 * $rpx1;
    div {
      height: 100%;
      // border: 1px solid black; /*temp */
    }
    .left {
      width: 100 * $rpx1;
      img {
        display: block;
        width: 64 * $rpx1;
        height: 64 * $rpx1;
        margin: 0 auto;
        margin-top: 3 * $rpx1;
      }
    }
    .center {
      width: 120 * $rpx1;
      .user-nickname {
        display: block;
        line-height: 50px; /* 상대 단위로 바꿔야함.. */
      }
    }
    .right {
      width: 100 * $rpx1;
      img {
        display: block;
        width: 56 * $rpx1;
        height: 56 * $rpx1;
        margin: 0 auto;
        margin-top: 7 * $rpx1;
      }
    }
  }

  /* 사용자의 팔로워수, 팔로잉, 게시글에 대한 정보를 확인할 info box */
  .user-social-info-box {
    margin-top: 4 * $rpx1;
    margin-bottom: 4 * $rpx1;
    width: 320 * $rpx1;
    height: 82 * $rpx1;
    // border: 1px solid black; /* 추후 변수로 색상만 변경 */
    background: $white; /* 추후 변수로 scss 변수로 대체 예정 */
    border-radius: 10 * $rpx1;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      height: 50%;
      li {
        width: 25%;
        text-align: center;
        line-height: 41 * $rpx1;
      }
    }
    .user-social-info-title {
      li {
      }
    }
    .user-social-info {
      li {
      }
    }
  }

  /* 사용자의 주간, 월간의 감정 변화 추이를 확인 가능한 통계 그래프 */
  .feed-graph-div {
    margin-top: 4 * $rpx1;
    margin-bottom: 4 * $rpx1;
    width: 320 * $rpx1;
    height: 84 * $rpx1;
    // border: 1px solid black; /*temp */
    .feed-graph-guide-div {
      width: 100%;
      height: max-content;
      display: flex;
      justify-content: center;
      p {
        font-size: 13 * $rpx1; /* 타이포 그래피에 따라 값 변수로 치환 */
      }
      span {
        margin-left: 8 * $rpx1;
      }
      span > img {
        width: 14 * $rpx1;
        height: 14 * $rpx1;
      }
    }
    .user-graph-container {
      .weekend-graph-div,
      .month-graph-div,
      .user-week-text,
      .user-month-text {
        width: 100%;
        height: 17.5 * $rpx1;
      }

      .weekend-graph-div,
      .month-graph-div {
        display: flex;
        justify-content: center;
      }
      /* 그래프 속성들 */
      .weekend-graph-div > div,
      .month-graph-div > div {
        width: 30%;
        height: 100%;
      }
      .weekend-graph-div > .sunny,
      .month-graph-div > .sunny {
        background-color: $yellow-p; /* 변수로 치환 예정 */
        border-top-left-radius: 8 * $rpx1;
        border-bottom-left-radius: 8 * $rpx1;
      }

      .weekend-graph-div > .cloudy,
      .month-graph-div > .cloudy {
        background-color: $mono400; /* 변수로 치환 예정 */
      }

      .weekend-graph-div > .rainy,
      .month-graph-div > .rainy {
        background-color: $blue300; /* 변수로 치환 예정 */
        border-top-right-radius: 8 * $rpx1;
        border-bottom-right-radius: 8 * $rpx1;
      }

      /* 그래프 가이드 텍스트 속성들 */
      .user-week-text,
      .user-month-text {
        font-size: 8px; /* 타이포그래피로 대체 예정 */
        p {
          text-align: right;
          padding-right: 10 * $rpx1;
        }
      }
    }
  }

  /* 사용자 게시글 / 북마크 글을 전환하는 nav 컴포넌트 */
  .profile-tab-menu {
    margin-top: 4 * $rpx1;
    margin-bottom: 4 * $rpx1;
    width: 240 * $rpx1;
    height: 50 * $rpx1;
    // border: 1px solid black; /* temp */
    .tab-menus {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      li {
        width: 45%;
        height: 60%;
        text-align: center;
      }
      li:first-child {
        color: $blue800; /* 변수로 치환 예정 */
        border-bottom: 1 * $rpx1 solid $blue800; /* 변수로 치환 예정 */
      }
    }
  }

  /* 사용자의 게시글 / 북마크를 담을 Routes 태그 속성 */
  .feed-container {
    margin-top: 4 * $rpx1;
    margin-bottom: 4 * $rpx1;
    width: 320 * $rpx1;
    height: 300 * $rpx1;
    overflow-y: scroll;
    overflow-x: hidden;
    // border: 1px solid black; /* temp */
    .post-item {
      margin-bottom: 10 * $rpx1;
    }
  }
}
